.heatmapContainer {
	height: 30vw;
	margin-left: 50px;
	margin-right: 50px;
}

.historyTopBar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 2vh;
}

.historyTopBar > div {
	margin-left: 10vw;
}

.durationPickerContainer {
	width: 20vw;
	min-width: 400px;
	display: flex;
	justify-content: space-between;
}

.historyStatistics {
	margin-top: 5vh;
	display: flex;
	justify-content: space-evenly;
}

.historyContainer {
	margin-top: 5vh;
}
