.sidedrawer {
	height: 100px;
	background: #ebecec;
	position: fixed;
	top: 56px;
	padding-bottom: 5px;
	right: 0px;
	left: padding;
	width: 150px;
	max-width: 700px;
	z-index: 5;
}

.sidedrawer ul {
	height: 100%;
	list-style: none;
}

.sidedrawer li {
	margin-top: 0.3rem;
}

.sidedrawer a {
	color: #336373;
	text-decoration: none;
	font-size: 1.1rem;
}

.sidedrawer a:hover,
.sidedrawer a:active {
	color: black;
}

.logout {
	user-select: none;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	color: rgba(0, 0, 0, 0.87);
	background-color: transparent;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	font-size: 0.9rem;
	outline: none;
	position: relative;
	margin-top: 30%;
}

.logout:hover {
	background-color: rgb(212, 212, 212);
	color: black;
}
